body {background-color: rgb(107, 175, 214);}
h1 {text-align: center;
    color: rgb(255, 255, 255);
    border-style: solid;
    border-color: aliceblue;
}
h4 {text-align: center;
    color: rgb(0, 0, 88);
    border: 5px;
    border-color: black; 
}

#ima1 {margin-left: 37%;
       border-color: rgb(9, 11, 99);
       border-width: 10px;
    border-style:groove;
    width:25%;
}
#ima2 {margin-left: 36%;
    border-color:rgb(9, 11, 99);
    border-width: 10px;
 border-style:groove;
 width: 27%;}
  
h2 {text-align: center;
    color: rgb(255, 255, 255);
    border-style: solid; 
     border-color: aliceblue;}

h3 {text-align: center;
    color: rgb(0, 0, 88);
    border: 5px;
    border-color: black; }

